/* Inizio regole header */
header{
    height: 50px;
    background-color: #000;
    justify-content: flex-end;
    align-items: center;
    min-width: 1180px;
}

.zoom{
    margin: 0 10px;
}
header .fas{
    font-weight: 600;
}
/* Fine regole header */
